h1, h2, h4 {
	font-family: 'Dela Gothic One', cursive;
	text-align: center;
	text-transform: uppercase;
	color: #1B193C;
}

h3 {
	font-family: 'Newsreader', cursive;
}

h4 {
	text-align: right;
	margin-right: 2%;
}

h1 {
    font-size: 200%;
}

h2 {
	font-size: 180%;
}

h3 {
	font-size: 160%;
}

h4 {
	font-size: 140%;
}

p {
	font-size: 100%;
	color: #010001;
}

.destacado {
	color: #514DB1;
}

.lista-destacada {
	color: #1B193C;
	font-size: 110%;
}

header {
	width: 96%;
	margin: 1%;
	border: solid #1B193C 1px;
	padding: 1%;
}

section {
	margin: 1%;
}

aside {
	border: solid #1B193C 1px;
}

a {
	text-decoration: none;
}

article {
	display: grid;
	grid-template-areas: 
	"header"
	"figure"
	"p"
}

article h3 {
	grid-area: header;
}

article figure {
	grid-area: figure;
}

article p {
	grid-area: p;
}

img {
	width: 100%;
	height: auto;
}

article p {
	font-family: 'Newsreader', cursive;
	font-size: larger;
	margin: 2%;
}

article p::first-letter {
	font-size: 200%;
}

aside p {
	font-family: 'Dela Gothic One', cursive;
	font-size: larger;
	color: #514DB1;
	text-align: center;
}

header ul {
	display: none;
}
header li {
	list-style-type: none;
	font-family: 'Dela Gothic One', cursive;
	text-transform: uppercase;
	color: #1B193C;
}

aside {
	display: flex;
	flex-direction: row;	
}

aside figure {
	width: 50%;
}

@media only screen and (min-width: 720px) {

	header ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;	
	}
	
	content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	article {
		display: grid;
		grid-template-columns: 4fr 6fr;
		grid-template-areas: 
		"header header"
		"figure p"
	}

	article:nth-child(2n) {
		display: grid;
		grid-template-columns: 6fr 4fr;
		grid-template-areas: 
		"header header"
		"p figure"
	}

	article p {
		margin: 2%;
	}
}

@media only screen and (min-width: 1080px) {

	section {
		width: 64%;
	}

	aside {
		display: inline;
		width: 29%;
		margin: 1%;
		padding: 1%;
	}

	aside figure {
		width: 80%;
	}
}