body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div {
    border: 1px solid black;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.a {
    grid-area: A;
}

.b {
    grid-area: B;
}

.c {
    grid-area: C;
}

.d {
    grid-area: D;
}

@media only screen and (min-width: 720px) { 

    div {
        height: 100%;
    }

    body {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-areas: 
          "A A D"
          "B C D";
    }
}

@media only screen and (min-width: 1080px) { 

    body {
    
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
          "A B C"
          "D D D";
    }
}